/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

img {
  max-width: 100%;
  height: auto;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}

.container-inside {
  padding-top: 100px;
  display: flex;
}
.container-left {
  padding: 0;
  margin: 0;
  width: 888px;
  height: 854px;
}
.apple-logo {
  width: 150px;
  height: 170px;
  color: #333;
  padding: 0;
  margin: 0;
  margin-top: 50px;
  margin-left: 190px;
}
.apple-h2 {
  font-family: Roboto, "Arial", sans-serif;
  font-size: 100px;
  line-height: 120px;
  margin: 0;
  padding: 0;
  color: #000;
  text-align: center;
}
.watch-h2 {
  font-family: Roboto, "Arial", sans-serif;
  font-size: 100px;
  line-height: 120px;
  margin: 0;
  padding: 0;
  color: #ea625c;
  text-align: center;
}
.container-right {
  width: 888px;
  height: 854px;
}
